<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensor Emulator</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/js/scripts.js"></script>

</head>
<body>

    <div class="text-field">
      <label class="text-field__label" for="name">Name sensor</label>
      <input class="text-field__input" type="text" id="name" placeholder="Wet">
    </div>

    <!-- <div class="text-field">
      <label class="text-field__label" for="name">int</label>
      <input class="text-field__input" type="text" id="name" placeholder="count">
    </div> -->

    <div class="text-field">
      <label class="text-field__label" for="name">Value</label>
      <input class="text-field__input" type="text" id="value" placeholder="34">
    </div>

    <label class="switch">
        <input type="checkbox" id="check">
        <span class="slider round"></span>
    </label>

    <button class="custom-btn btn-3" onclick="send_data()"><span>Send data</span></button>

</body>
</html>