<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart home emulator</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/js/scripts.js"></script>

</head>
<body>
    <div class="container">
      <h1>Эмулятор умного дома by Раненый солджа</h1>
      <div class="text-field">
        <label class="text-field__label" for="name">Устройство</label>
        <input class="text-field__input" type="text" id="name" placeholder='К примеру "MusicPlayer"'>
      </div>

      <div class="text-field">
        <label class="text-field__label" for="name">Значение</label>
        <input class="text-field__input" type="text" id="value" placeholder='К примеру "Linkin Park - Mirror"'>
      </div>

      <div class="switch-field">
        <label class="text-field__label">Свет</label>
        <label class="switch">
            <input type="checkbox" id="check">
            <span class="slider round"></span>
        </label>
      </div>

      <div class="send_button">
        <button class="custom-btn btn-3" onclick='set_values("SetValues")'><span>Назначить</span></button>
      </div>
      <div class="send_button">
        <button class="custom-btn btn-3" onclick='set_values("GraphSensors")'><span>Показать график выбранного датчика</span></button>
      </div>
      <div class="send_button">
        <button class="custom-btn btn-3" onclick='set_values("GraphDevices")'><span>Показать график выбранного устройства</span></button>
      </div>
    </div>
</body>
</html>